.login-page {
  background-color: var(--bg-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  position: relative;
}

.login-container {
  width: 100%;
  max-width: 450px;
  text-align: center;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  box-shadow: 0px 0px 15px var(--accent-color);
  padding: 30px;
}

.title {
  font-size:200%;
  color: var(--accent-color);
  margin-bottom: 40px;
}

.fondamento-regular {
  font-family: "Fondamento", serif;
  font-weight: 400;
  font-style: normal;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.form-group:focus-within label {
  color: var(--accent-color);
}

label {
  margin-bottom: 5px;
  font-size: 13px;
  color: var(--text-secondary);
}

.input {
  width: 100%;
  padding: 15px;
  border: 2px solid var(--input-border);
  border-radius: 5px;
  background: var(--bg-secondary);
  font-size: 14px;
  outline: none;
  color: var(--text-primary);
  &::placeholder {
    color: var(--text-secondary);
    opacity: 0.8;
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.password-container {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 5%;
  color: var(--text-secondary);
  top: 35%;
  background: transparent;
}

.eye-icon:hover {
  color: var(--accent-color);
}

.divider {
  margin: 20px 0;
  text-align: center;
  color: var(--text-secondary);
  font-size: 12px;
  position: relative;
}

.divider:before,
.divider:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: var(--text-secondary);
}

.divider:before {
  left: 0;
}

.divider:after {
  right: 0;
}

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
  padding: 10px;
  text-decoration: none;
  width: 10%;
  height: 100%;
}

.custom-btn:hover {
  background-color: var(--send-btn-hover);
  color: white;
  border: 1px solid #00000050;
  transform: scale(1.02);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.custom-btn:active {
  transform: scale(1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-btn {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

.theme-selector {
  position: absolute;
  top: 24px;
  right: 32px;
  display: flex;
  gap: 12px;
  z-index: 2;
}

.theme-btn {
  background: var(--input-bg);
  border: 2px solid var(--text-secondary);
  color: var(--text-secondary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s;
  outline: none;
}

.theme-btn.active {
  color: var(--accent-color);
  box-shadow: 0px 0px 10px var(--accent-color);
}

.theme-btn.active i {
  color: rgb(250, 28, 7);
}

:root[data-theme="light"] .theme-btn.active i {
  color: brown;
}

.theme-btn:focus,
.theme-btn:hover {
  box-shadow: 0px 0px 10px var(--accent-color);

}

.theme-btn:focus i,
.theme-btn:hover i {
  color: orange;
}

.forgot-password {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: var(--text-secondary);
  font-size: 12px;
  margin-top: 15px;
  margin-left: -15px;
  padding-bottom: 10px;
  &:hover {
    color: var(--accent-color);
  }
}

.remember {
  display: flex;
  align-items: right;
  gap: 5px;
  padding-left: 2px;
}

.remember label {
  color: var(--text-secondary) !important;
}

.back-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: bold;
}

.back-link:hover{
  color: var(--accent-color);
}
